.kontakt-os {
    color: white;
}

.upper-text-box {
    position: relative;
    display: flex;
    flex-direction: column;
    text-align: center;
    z-index: 10;
    background: white;
    border-radius: 0.5em;
    box-shadow: 1px 1px 8px #00000029;
    margin-top: -1.2em;
    margin-bottom: 20px;
}

.upper-text-box p {
    font-size: 18px;
    padding: 30px 200px;
}

/* IMAGE SLIDER */

.gg {
    display: flex;
    justify-content: center;
    align-items: center;
}

.slider {
    max-width: 800px;
    height: 500px;
    border-radius: 10px;
    overflow: hidden;
}

.slides {
    width: 500%;
    max-height: 500px;
    display: flex;
}

.slides input {
    display: none;
}

.slide {
    width: 20%;
    transition: 2s;
}

.slide img {
    max-width: 800px;
    height: 500px;
}

#radio1:checked ~ .first {
    margin-left: 0;
}
#radio2:checked ~ .first {
    margin-left: -20%;
}
#radio3:checked ~ .first {
    margin-left: -40%;
}

/* image slider slut */

.split {
    display: flex;
    color: white;
}

.content-box1 {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #df5047;
    width: 100%;
    margin-right: 20px;
    margin-top: 40px;
    border-radius: 0.3em;
    box-shadow: 1px 1px 8px #00000029;
    padding: 80px 40px;
}

.content-box2 {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #df5047;
    width: 100%;
    margin-left: 20px;
    margin-top: 40px;
    border-radius: 0.3em;
    box-shadow: 1px 1px 8px #00000029;
    padding: 80px 50px;
}

.box-items {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    padding: 10px;
}

.box-items i {
    font-size: 70px;
}

.box-items h4 {
    font-size: 18px;
}

@media only screen and (max-width: 910px) {
    .split {
        flex-direction: column;
    }

    .content-box1 {
        margin-top: 40px;
        border-radius: 10px;
        padding: 40px;
        margin-left: 0px;
    }

    .content-box2 {
        margin-top: 40px;
        border-radius: 10px;
        padding: 40px;
        margin-left: 0px;
    }

    .upper-text-box p {
        padding: 10px 20px;
    }
}
