.kontakt {
    color: white;
}
.kontakt h1 {
    text-align: left;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

img {
    width: 100%;
}

section{
    text-align: center;
    margin-inline: auto;
    width: min(90%, 70.5rem);
}


.heading1 {
    font-weight: 500;
}

.intro-container ul li {
    background: white;
    padding: 2em;
    border-radius: .3em;
    margin-bottom: 1em;
    box-shadow: 0px 0px 7px #00000029;
}

.phone-cta {
    border: 2px solid #DF5047 ;
    border-radius: 1.5em;
    padding: 10px 5px;
    margin: 10px 60px;
    cursor: pointer;
}

.phone-cta a {
    color: black;
    font-size: 18px;
}

.phone-cta:hover {
    background: #DF5047;
    color: white;
}

.phone-cta a:hover {
    color: white;
    font-weight: 500;
}


.img-container {
    height: 340px;
    display: grid;
    place-content: center;
    margin: 0 auto;
}

.one {
    width: 250px;
}

.name {
    font-size: 20px;
    font-weight: bold;
}

.stilling {
    color:#DF5047 ;
    letter-spacing: 2px;
    font-weight: 600;
}

.mail {
    color:#DF5047 ;
}

@media only screen and (min-width: 800px) {

    .transition {
        margin-top: -1.5em;
        z-index: 5;
    }

    .intro-container ul {
        display: grid;
        grid-template-columns: repeat(2, auto);
        grid-gap: 1em
    }
}

@media only screen and (min-width: 1050px) {
    .phone-cta {
        margin: 10px 155px;
    }

    .aarhus-container ul {
        display: grid;
        grid-template-columns: 33% 33% 33% ; 
        grid-gap: 1em
    }
}

@media only screen and (min-width: 1390px) {
    .phone-cta {
        margin: 10px 245px;
    }
    
}

/*-------------------århus----------------*/
.heading2 {
    margin: 2em 0;
}

.aarhus-container ul li {
    background: white;
    padding: 2em;
    border-radius: .3em;
    margin-bottom: 1em;
    box-shadow: 0px 0px 7px #00000029;
}

.two {
    width: 230px;
}

@media only screen and (min-width: 800px) {
    .aarhus-container ul {
        display: grid;
        grid-template-columns: 50% auto;
        grid-gap: 1em
    }
    .aarhus .img-container {
        height: 240px;
    }

    .two {
        width: 180px;
    }
}

@media only screen and (min-width: 1050px) {
    .aarhus-container ul {
        display: grid;
        grid-template-columns: 33% 33% 33% ; 
        grid-gap: 1em
    }
    .name {
        font-weight: 600;
    }
    .stilling {
        font-size: 16px;
    }
}

@media only screen and (min-width: 1390px) {
        .aarhus-container ul {
        display: grid;
        grid-template-columns: 20% 20% 20% 20% 20%; 
        grid-gap: 1em
    }

    .aarhus .img-container {
        height: 180px;
    }

    .two {
        width: 150px;
    }
    .name {
        font-size: 17px;
        margin-top: 1em;
    }

    .stilling {
        font-size: 15px;
    }
}

/*-------------------Horsens og Hedensted----------------*/

.heading3 {
    margin: 2em 0;
}

.hh-container ul li {
    background: white;
    padding: 2em;
    border-radius: .3em;
    margin-bottom: 1em;
    box-shadow: 0px 0px 7px #00000029;
}

@media only screen and (min-width: 800px) {
    .hh-container ul {
        display: grid;
        grid-template-columns: 50% auto;
        grid-gap: 1em
    }
    .hh .img-container {
        height: 240px;
    }

    .two {
        width: 180px;
    }
}

@media only screen and (min-width: 1050px) {
    .hh-container ul {
        display: grid;
        grid-template-columns: 33% 33% 33% ; 
        grid-gap: 1em
    }
    .name {
        font-weight: 600;
    }
    .stilling {
        font-size: 16px;
    }
}

@media only screen and (min-width: 1390px) {
        .hh-container ul {
        display: grid;
        grid-template-columns: 20% 20% 20% 20% 20%; 
        grid-gap: 1em
    }

    .horsens .img-container {
        height: 180px;
    }
}

/* KONTOR OG BASE */

.kontor-og-base {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 40px;
    padding: 6em;
    text-align: center;
}
.kontor-og-base i {
    margin-left: 20px;
    font-size: 80px;
}

.adr-title {
    font-weight: bold;
    font-size: 20px;
}

.stripe-left {
    background-color: #f1d6d4;
    height: auto;
    max-width: 900px;
    position: relative;
    border-radius: 20px;
    padding-left: 50px;
}
.stripe-left:before {
    content: "";
    background-color: #f1d6d4;
    position: absolute;
    height: 100%;
    width: 2500px;
    left: -2000px;
    z-index: -1;
}
