.om-os {
    color: white;
}

.om-os-content {
    position: relative;
    display: flex;
    z-index: 10;
}

.om-os-text {
    background: white;
    border-radius: 10px;
    box-shadow: 1px 1px 8px #00000029;
    max-width: 720px;
    margin-top: -1.2em;
    padding: 50px;
}

.om-os-text p {
    margin: 18px;
}

.beritprofilfoto {
    margin: 20px;
    position: relative;
}

.beritprofilfoto img {
    border-radius: 10px;
    min-width: 200px;
}

@media only screen and (max-width: 910px) {
    .om-os-content {
        flex-direction: column;
        margin-top: 0px;
    }

    .beritprofilfoto img {
        max-width: 320px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
/* KONTOR OG BASE */

.kontor-og-base {
    display: flex;
    margin-top: 40px;
    padding-top: 20px;
}
.kontor-og-base i {
    margin-left: 20px;
    font-size: 30px;
}
.kontor-og-base h4 {
    font-size: 20px;
}

.stripe-left {
    background-color: #f1d6d4;
    height: auto;
    max-width: 600px;
    position: relative;
    border-radius: 20px;
}
.stripe-left:before {
    content: "";
    background-color: #f1d6d4;
    position: absolute;
    height: 100%;
    width: 2500px;
    left: -2000px;
    z-index: -1;
}
.stripe-left p {
    padding-top: 10px;
    padding-bottom: 20px;
}
