.vi-tilbyder {
    color: white;
}

.vores-tilbud {
    background: white;
    position: relative;
    display: flex;
    flex-direction: column;
    z-index: 10;
    border-radius: 0.5em;
    box-shadow: 1px 1px 8px #00000029;
    margin-top: -1.2em;
}

.vores-tilbud p {
    padding: 50px;
}

/* SECTION */

.split {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-gap: 1em;
    
}

.content-box1 {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #df5047;
    color: white;
    margin-right: 20px;
    margin-top: 40px;
    border-radius: 0.5em;
    box-shadow: 1px 1px 8px #00000029;
    padding: 60px 20px;
    height: 280px;
}

.content-box1 p {
    padding: 20px;
}

.content-box2 {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #df5047;
    color: white;
    margin-top: 40px;
    border-radius: 0.5em;
    box-shadow: 1px 1px 8px #00000029;
    padding: 40px;
    height: 280px;
}

.content-box2 p {
    padding: 20px;
}

.box-items {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    padding: 10px;
}

.box-items i {
    font-size: 70px;
}

.box-items h4 {
    font-size: 25px;
}

@media only screen and (max-width: 910px) {
    .split {
        flex-direction: column;
    }

    .content-box1 {
        margin-top: 40px;
        border-radius: 10px;
        padding: 20px;
        margin-left: 0px;
    }

    .content-box2 {
        margin-top: 40px;
        border-radius: 10px;
        padding: 20px;
        margin-left: 0px;
    }

    .box-items h3 {
        width: 100px;
        font-size: 15px;
    }

    .box-items i {
        font-size: 30px;
        width: 65px;
    }
}

/* FLEKSIBEL HJEMMEHJÆLP -- Arrangementer og fællesture -- Tilvalg ekstra ydelser
 */
