.vi-tilbyder {
    color: white;
}

.vores-tilbud {
    background: white;
    margin-top: -30px;
    position: relative;
    display: flex;
    flex-direction: column;
    z-index: 10;
    border-radius: 10px;
    box-shadow: grey 0px 0px 8px;
}

.vores-tilbud p {
    padding: 30px;
}

/* SECTION */

.split {
    display: flex;
}

.content-box1 {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #df5047;
    color: white;
    width: 100%;
    margin-right: 20px;
    margin-top: 40px;
    border-radius: 10px;
    padding: 40px;
}

.content-box1 p {
    padding: 20px;
}

.content-box2 {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #df5047;
    color: white;
    width: 100%;
    margin-left: 20px;
    margin-top: 40px;
    border-radius: 10px;
    padding: 40px;
}

.content-box2 p {
    padding: 20px;
}

.box-items {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    padding: 10px;
}

.box-items i {
    font-size: 50px;
    width: 200px;
}

@media only screen and (max-width: 910px) {
    .split {
        flex-direction: column;
    }

    .content-box1 {
        margin-top: 40px;
        border-radius: 10px;
        padding: 20px;
        margin-left: 0px;
    }

    .content-box2 {
        margin-top: 40px;
        border-radius: 10px;
        padding: 20px;
        margin-left: 0px;
    }

    .box-items h3 {
        width: 100px;
        font-size: 15px;
    }

    .box-items i {
        font-size: 30px;
        width: 65px;
    }
}

/* FLEKSIBEL HJEMMEHJÆLP -- Arrangementer og fællesture -- Tilvalg ekstra ydelser
 */
