.login {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 50vh;
}

.login form {
    display: flex;
    flex-direction: column;
}

.login form input {
    padding: 5px;
    margin-top: 10px;
}
